.result-item {
    .lp {
        font-size: 2rem;
    }

    .result {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }

    .yellow {
        color: #FCA311;
    }
}