<div class="row m-2">
  <div class="col-md-12">
    <app-section-header [title]="'Schedule'"></app-section-header>
  </div>
  <div class="col-md-4">
    <app-schedule-options
      [groups]="groups$ | async"
      [drawResults]="drawResults$ | async"
      [currentSchedule]="schedule$ | async"
      (scheduleResultsGeneratedEvent)="setResults($event)"
      (scheduleCompletedEvent)="setCurrentSchedule($event)"
    ></app-schedule-options>
  </div>
  <div class="col-md-8">
    <ng-container *ngIf="scheduleResults?.results && scheduleResults.results.length > 0">
      <app-schedule-results [data]="scheduleResults"></app-schedule-results>
    </ng-container>
  </div>
</div>
