<div class="lay rounded p-4 my-4">
  <div class="d-flex justify-content-between align-items-center my-2">
    <span class="">
      <strong> Selections </strong>
    </span>
    <button
      type="button"
      class="btn app-btn-primary"
      (click)="showCreateSelection()"
    >
      Add selection
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Selection name</th>
        <th scope="col">Teams count</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="align-middle"
        [class.row-active]="selection.id === activeRowId"
        *ngFor="let selection of selections"
        (click)="rowSelected(selection.id)"
      >
        <td>{{ selection.id }}</td>
        <td>{{ selection.name }}</td>
        <td>{{ selection.selectedTeams.length }}</td>
        <td>
          <button
            type="button"
            class="btn app-btn-secondary mx-1"
            (click)="deleteSelection(selection.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-container *ngIf="showCreateSelectionComponent">
    <app-teams-create-selection
      (createSelectionEvent)="addSelection($event)"
      (cancelCreateSelectionEvent)="cancelAddCreation()"
    >
    </app-teams-create-selection>
  </ng-container>
</div>
