<div class="row">
  <div class="col-md-12 d-flex justify-content-center align-items-center my-2" *ngIf="selectableTeams.length > 0">
    <button type="button" class="btn btn-success block" (click)="addAllTeamsFromLeague(league.id)">Add all teams</button>
  </div>
  <div
    class="col-md-12 d-flex justify-content-between align-items-center my-2"
    *ngFor="let team of selectableTeams"
  >
    <span
      ><strong>{{ team.name }}</strong></span
    >
    <button
      type="button"
      class="btn btn-success ms-2"
      (click)="addSelectedTeam(league.id, team.id)"
    >
      +
    </button>
  </div>
</div>
