<div class="border border-dark border-2 rounded p-4 my-4">
  <div class="row">
    <div class="col-md-6">
      <div class="accordion" id="accordionLeaguesPanels">
        <div class="accordion-item" *ngFor="let league of leagues">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#' + league.accordionId"
              aria-expanded="false"
              [attr.aria-controls]="league.accordionId"
            >
              <img
                class="img-fluid rounded"
                [src]="league.flagUrl"
                [alt]="league.name"
              />
              {{ league.name }}
            </button>
          </h2>
          <div
            [id]="league.accordionId"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionLeaguesPanels"
          >
            <div class="accordion-body">
              <app-league
                [league]="league"
                [selectedTeams]="selectedTeams"
                (addTeamToSelectionEvent)="addTeamToSelection($event)"
              ></app-league>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
      class="col-md-12 d-flex justify-content-between align-items-center my-2"
      *ngFor="let team of selectedTeams"
    >
      <span
        ><strong>{{ team.name }}</strong></span
      >
      <button
        type="button"
        class="btn btn-danger ms-2"
        (click)="deleteTeamFromSelection(team)"
      >
        -
      </button>
    </div>
    </div>
  </div>
</div>
