<div class="rounded p-4 my-4 lay">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3" *ngFor="let league of leagues">
          <button
            type="button"
            class="rounded w-100 p-2 my-1"
            [ngClass]="selectedLeague === league ? 'app-btn-primary' : 'app-btn-secondary'"
            (click)="setSelectedLeague(league)"
          >
            <img
              class="img-fluid rounded"
              [src]="league.flagUrl"
              [alt]="league.name"
            />
            {{ league.name }}
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="selectedLeague">
      <app-league
        [league]="selectedLeague"
        [selectedTeams]="selectedTeams"
        (addTeamToSelectionEvent)="addTeamToSelection($event)"
        (addAllTeamsFromLeagueToSelectionEvent)="addAllTeamsFromLeague($event)"
      ></app-league>
    </div>
  </div>
</div>
<div class="rounded p-4 my-4 lay" *ngIf="selectedTeams.length > 0">
  <div class="row">
    <div class="col-md-12">
      <app-selection
        [selectedTeams]="selectedTeams"
        (deleteTeamFromSelectionEvent)="deleteTeamFromSelection($event)"
      ></app-selection>
    </div>
  </div>
</div>
