<div class="row m-2">
  <div class="col-md-12">
    <app-section-header [title]="'Draw'"></app-section-header>
  </div>
  <div class="col-md-6">
    <app-draw-options
      [groups]="groups$ | async"
      [selections]="selections$ | async"
      (resultsDrawnEvent)="setResults($event)"
    ></app-draw-options>
  </div>
  <div class="col-md-6">
    <ng-container *ngIf="drawResults && drawResults.length > 0">
      <app-results [results]="drawResults"></app-results>
    </ng-container>
  </div>
</div>
