<div class="row m-2">
  <div class="col-md-12">
    <app-section-header [title]="'Teams'"></app-section-header>
  </div>
  <div class="col-md-4">
    <app-teams-selections
      [selections]="selections$ | async"
      (deleteSelectionEvent)="deleteSelection($event)"
      (selectionSelectedEvent)="setCurrentSelection($event)"
      (createSelectionEvent)="createSelection($event)"
    ></app-teams-selections>
    <ng-container *ngIf="selectedSelection$ | async">
      <app-teams-filters
        (addAllTeamsEvent)="addAllTeamsToSelection()"
        (removeAllTeamsEvent)="removeAllTeamsFromSelection()"
        (addTeamsByStarsEvent)="addTeamsByStars($event)"
        (addBestTeamsFromEachLeagueEvent)="addBestTeamsFromEachLeague()"
      ></app-teams-filters>
    </ng-container>
  </div>
  <div class="col-md-8">
    <ng-container *ngIf="selectedSelection$ | async">
      <app-teams-selection
        [leagues]="leagues$ | async"
        [selectedTeams]="(selectedSelection$ | async)!.selectedTeams"
        (addTeamToCurrentSelectionEvent)="addTeamToSelection($event)"
        (deleteTeamFromCurrentSelectionEvent)="deleteTeamFromSelection($event)"
        (addAllTeamsFromLeagueToSelectionEvent)="
          addAllTeamFromLeagueToSelection($event)
        "
      >
      </app-teams-selection>
    </ng-container>
  </div>
</div>
