<div class="row m-2">
  <div class="col-md-6 groups">
    <app-section-header [title]="'Players'"></app-section-header>
    <app-players-groups
      [groups]="groups$ | async"
      (deleteGroupEvent)="deleteGroup($event)"
      (groupSelectedEvent)="setCurrentGroup($event)"
      (createGroupEvent)="createGroup()"
    ></app-players-groups>
    <ng-container *ngIf="selectedGroup$ | async">
      <app-players-group
        [group]="selectedGroup$ | async"
        [editMode]="editMode$ | async"
        (toggleEditModeEvent)="toggleEditMode()"
        (saveGroupEvent)="saveGroup($event)"
      ></app-players-group>
    </ng-container>
  </div>
  <div class="col-md-6">
    <app-section-header [title]="'Teams'"></app-section-header>
    <app-teams-selections
      [selections]="selections$ | async"
      (deleteSelectionEvent)="deleteSelection($event)"
      (selectionSelectedEvent)="setCurrentSelection($event)"
      (createSelectionEvent)="createSelection($event)"
    ></app-teams-selections>
    <ng-container *ngIf="selectedSelection$ | async">
      <app-teams-selection
        [leagues]="leagues$ | async"
        [selectedTeams]="(selectedSelection$ | async)!.selectedTeams"
        (addTeamToCurrentSelectionEvent)="addTeamToSelection($event)"
        (deleteTeamFromCurrentSelectionEvent)="deleteTeamFromSelection($event)"
      >
      </app-teams-selection>
    </ng-container>
  </div>
</div>
