<div class="row mt-5">
  <div class="col-md-3 p-2">
    <div class="text-center mb-2">
      <strong>DRAW</strong>
    </div>
    <img
      class="img-fluid rounded float-start tile"
      src="/assets/draw_menu.jpg"
      alt="Draw"
      routerLink="/draw"
    />
  </div>
  <div class="col-md-3 p-2">
    <div class="text-center mb-2">
      <strong>PLAYERS</strong>
    </div>
    <img
      class="img-fluid rounded float-end tile"
      src="/assets/players_menu.jpg"
      alt="Configuration"
      routerLink="/configuration/players"
    />
  </div>
  <div class="col-md-3 p-2">
    <div class="text-center mb-2">
      <strong>TEAMS</strong>
    </div>
    <img
      class="img-fluid rounded float-end tile"
      src="/assets/teams_menu.jpg"
      alt="Configuration"
      routerLink="/configuration/teams"
    />
  </div>
  <div class="col-md-3 p-2">
    <div class="text-center mb-2">
      <strong>SCHEDULE</strong>
    </div>
    <img
      class="img-fluid rounded float-end tile"
      src="/assets/schedule_menu.jpg"
      alt="Schedule"
      routerLink="/schedule"
    />
  </div>
</div>
