<form novalidate (ngSubmit)="setDrawOptions()" [formGroup]="optionsForm">
  <div class="lay rounded p-4 my-4">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-12 mb-4 text-center">
          <strong>Options</strong>
        </div>
        <div class="col-md-12" *ngIf="groups">
          <label for="playersGroups" class="form-label"
            >Select players group</label
          >
          <select
            class="form-select mb-3"
            id="playersGroups"
            formControlName="playersGroups"
          >
            <option value="null">Select...</option>
            <option *ngFor="let g of groups" [value]="g.id">
              {{ g.name }}
            </option>
          </select>
        </div>
        <div class="col-md-12" *ngIf="selections">
          <label for="teamsSelections" class="form-label"
            >Select teams selection</label
          >
          <select
            class="form-select mb-3"
            id="teamsSelections"
            formControlName="teamsSelections"
          >
            <option value="null">Select...</option>
            <option *ngFor="let s of selections" [value]="s.id">
              {{ s.name }}
            </option>
          </select>
        </div>
        <div class="col-md-12">
          <label for="teamsPerPlayer" class="form-label"
            >How many teams per player</label
          >
          <select
            class="form-select mb-3"
            id="teamsPerPlayer"
            formControlName="teamsPerPlayer"
          >
            <option value="null">Select...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-12">
          <label for="canRepeat" class="form-label">Can teams repeat?</label>
          <select
            class="form-select mb-3"
            id="canRepeat"
            formControlName="canRepeat"
          >
            <option value="null">Select...</option>
            <option value="false">No</option>
            <option value="true">Yes</option>
          </select>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
          <button
            type="submit"
            class="btn app-btn-primary btn-lg my-5"
            [disabled]="!submitBtnEnabled"
          >
            DRAW
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12 mb-4 text-center">
          <strong>Preview</strong>
        </div>
        <div class="col-md-12 my-2">
          <ng-container *ngIf="groupIdControl.value !== 'null'">
            <app-draw-players-preview
              [groups]="groups"
              [groupId]="groupIdControl.value"
            ></app-draw-players-preview>
          </ng-container>
        </div>
        <div class="col-md-12 my-2">
          <ng-container *ngIf="selectionIdControl.value !== 'null'">
            <app-draw-teams-preview
              [selections]="selections"
              [selectionId]="selectionIdControl.value"
            ></app-draw-teams-preview>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</form>
